/* Reset de CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
}

/* Estilo da mini-navbar */
.mini-navbar {
  background-color: #005cff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
}

.retangulo {
  border-radius: 4px;
  background-color: #6220c1;
  padding: 0px 10px;
}

/* Estilo da navbar principal */
.navbar-main {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.container-navbar {
  width: 1260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px 0px 0px;
  margin: 0 auto;
}

/* Estilos do input de pesquisa */
.navbar-search {
  background: url("../icons/search-icon.svg") no-repeat right 10px center;
  background-size: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  width: 594px;
  height: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.navbar-search::placeholder {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
}

/* Estilos do container navbar-user */
.navbar-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-user {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.container-cart {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -7px;
  right: -14px;
  width: 21px;
  height: 21px;
  background-color: #005cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

/* Estilos do container navbar-menu */
.container-navbar-menu {
  width: 1260px;
  margin: 0 auto;
  padding: 23px 0px 18px 0px;
  display: flex;
}

.navbar-menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar-menu-list a {
  text-decoration: none;
  color: #000000;
}

.navbar-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

/* .navbar-menu-item:hover {
  color: #005cff;
  transition: all 0.3s ease-in-out;
} */

.menu-icon {
  cursor: pointer;
}

.navbar-menu-item-departamento {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* Responsividade Mobile */
@media screen and (min-width: 390px) {
  header {
    width: 100%;
  }

  .mini-navbar {
    height: 52px;
    padding: 4px 22px;
  }

  .navbar-link {
    text-align: center;
  }

  .container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon,
  .container-cart,
  .navbar-user img {
    display: block;
  }

  .navbar-search {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}
