/* Reset de CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
}

/* Estilo da mini-navbar */
.mini-navbar {
  background-color: #005cff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
}

.retangulo {
  border-radius: 4px;
  background-color: #6220c1;
  padding: 0px 10px;
}

/* Estilo da navbar principal */

.navbar-main {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.container-navbar {
  width: 1260px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  margin: 0 auto;
}

/* Estilos do input de pesquisa */

.navbar-search {
  background: url("../icons/search-icon.svg") no-repeat right 10px center;
  background-size: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  width: 594px;
  height: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.navbar-search::placeholder {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
}

/* Estilos do container navbar-user */
.navbar-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-user {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.container-cart {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -7px;
  right: -14px;
  width: 21px;
  height: 21px;
  background-color: #005cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
